.header__lang-link {
  min-width: 30px;
  margin-left: 18px;
  color: #FFFFFF;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 24px;
  line-height: 117%;
  text-decoration: none;
}
.header__lang-link:hover {
  opacity: 0.8;
  transition: .1s linear;
}

@media screen and (max-width: 700px) {
.header__lang-link {
  min-width: 22px;
  font-size: 18px;
  line-height: 111%;
  }
}