.header__lang {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin-top: 46px;
  display: flex;
  margin-bottom: 0;
  align-self: center;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
.header__lang {
  margin-top: 30px;
  }
}