.footer__link-name {
  padding-right: 18px;
  max-width: 86px;
  min-height: 18px;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.footer__link-name:hover {
  text-decoration: underline;
  opacity: .6; 
  transition: .1s linear;
}


@media screen and (max-width: 700px) {
.footer__link-name {
  min-height: 24px;
  font-size: 24px;
  line-height: 100%;
  } 
}