.place__column {
  color: #FFFFFF;
  max-width: 100%;
  line-height: 163%;
  font-size: 18px;
  margin-left: 40px;
  grid-row-start: 2;
  grid-column-end: 2;
}

@media screen and (max-width: 1279px) {
.place__column {
  margin-left: 32px;
  }
}

@media screen and (max-width: 1023px) {
.place__column {
  font-size: 16px;
  margin-left: 28px;
  }
}

@media screen and (max-width: 767px) {
.place__column {
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
  }
}