
@font-face {
  src: url(../../sprint-3-fonts/Inter-Black.woff2) format('woff2'),
       url(../../sprint-3-fonts/Inter-Black.woff) format('woff');
  font-family: "Inter";
  font-weight: normal;
 }
 @font-face {
  src: url(../../sprint-3-fonts/Inter-Bold.woff2) format('woff2'),
   url(../../sprint-3-fonts/Inter-Bold.woff) format('woff');
  font-family: "Inter";
  font-weight: bold;
 }
