.place__link {
  color: #FFFFFF;
  max-width: 456px;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 122%;
}
.place__link:hover {
  opacity: 0.8;
  transition: .1s linear;
}

@media screen and (max-width: 1000px){
.place__link {
  max-width: 352px;
  }
}

@media screen and (max-width: 700px){
.place__link {
  max-width: 288px;
  }
}