.place__link {
  color: #FFFFFF;
  text-decoration: none;
  max-width: 456px;
  min-height: 22px;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: none;
}


.place__link:hover {
  text-decoration: underline;
  opacity: .6; 
  transition: .1s linear;
}

@media screen and (max-width: 1000px){
.place__link {
  max-width: 352px;  
  }
}

@media screen and (max-width: 700px){
.place__link {
  max-width: 288px;  
  }
}