.place__url-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: none;
  max-width: 100%;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
  margin-bottom: 12px;
}