.intro__title {
  width: 690px;
  height: 58px;
  line-height: 107%;
  font-size: 54px;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 900;
  color: #FFFFFF;
  margin-top: 92px;
}

@media screen and (max-width: 1000px) {
.intro__title {
  max-width: 728px;
  margin-top: 88px;
  } 
}

@media screen and (max-width: 700px) {
.intro__title {
  max-width: 288px;
  min-height: 70px;
  font-size: 32px;
  line-height: 109%;
  margin-top: 64px;
  } 
}