.intro__title {
  width: 100%;
  max-width: 690px;
  line-height: 107%;
  font-size: 54px;
  text-align: left;
  margin-bottom: 39px;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 900;
  color: #FFFFFF;
  margin-top: 94px;
}

@media screen and (max-width: 1023px) {
.intro__title {
  width: 100%;
  margin-top: 92px;
  }
}

@media screen and (max-width: 767px) {
.intro__title {
  font-size: 32px;
  line-height: 109%;
  margin-top: 66px;
  }
}